
body {
  margin: 0;
}

.logo-link {
    position: left;
    top: 10px;  /* Ajusta onde o logo aparece na vertical */
    left: 20px; /* Ajusta onde o logo aparece na horizontal */
    z-index: 2;
}

.logo-img {
    width: 200px; /* Ajusta o tamanho do logo */
    height: auto;
}


/* Create four equal columns that sits next to each other */
.column {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 1vw;
}

.column img {
  margin-top: 8px;
  padding: 0;
  margin: 0;
  max-width: 24.25%;
}

.img1 {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.09);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}
