@import "mobile_desporto.css" screen and (max-width: 480px);

body {
    margin: 0;
}

.logo-link {
    position: left;
    top: 10px;
    /* Ajusta onde o logo aparece na vertical */
    left: 20px;
    /* Ajusta onde o logo aparece na horizontal */
    z-index: 2;
}

.title {
    font-family: 'brownsugar', 'Didot', 'Georgia', serif;
    text-align: center;
    font-size: max(2rem , 7vw);    
    font-weight: 0;
    line-height: 0.90;
    margin-bottom: 64px;
    letter-spacing: 2px;
}

.logo-img {
    width: 200px;
    /* Ajusta o tamanho do logo */
    height: auto;
}


/* Create four equal columns that sits next to each other */
.column {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 1vw;
}

.column img {
    margin-top: 8px;
    padding: 0;
    margin: 0;
    
}


/* Modal styles */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.56);
    backdrop-filter: blur(8px);
    flex-direction: column;
    cursor: pointer;
}

.modal-img {
    max-width: 65vw;
    max-height: 65vh;
    border-radius: 20px;
    box-shadow: 0 0 48px rgba(10, 10, 10, 0.31);
    z-index: 1001;
}

.close-btn {
    position: absolute;
    top: 44px;
    right: 44px;
    font-size: 48px;
    color: #fff;
    cursor: pointer;
    z-index: 1002;
    font-weight: bold;
}

/* DESFOQUE DO FUNDO */
.blurred {
    filter: blur(7px);
    transition: filter 0.4s;
}

/* AJUSTES RESPONSIVOS */
@media screen and (min-width: 1100px)  {
    .column img {
        max-width: 24.25%;
    }
}
@media screen and (max-width: 1100px) and (min-width: 800px){
    .gallery-img {
        width: 140px;
        height: 150px;
    }

    .gallery-title {
        font-size: 32px;
    }

    /* Create four equal columns that sits next to each other */

    .column img {
        max-width: 32%;
    }
}

@media screen and (max-width:800px) and (min-width: 480px){
    .column img {
        max-width: 49%;
    }
}


