body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-side {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-link {
    position: absolute;
    top: 10px;  /* Ajusta onde o logo aparece na vertical */
    left: 20px; /* Ajusta onde o logo aparece na horizontal */
    z-index: 2;
}

.logo-image {
    width: 300px; /* Ajusta o tamanho do logo */
    height: auto;
}

.right-side {
    width: 50vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 60px;
    padding-left: 40px;
    box-sizing: border-box;
}

.sobre-title {
    font-family: 'Julius Sans One', 'Didot', serif;
    letter-spacing: 5px;
    font-size: 80px;
    line-height: 70px;
    margin: 0 0 50px 0;
    font-weight: normal;
}

.sobre-texto p {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    margin: 0;
}
